flow-4-harry.json
[{"id":"3711bb93.c80764","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46b71351.a74a6c","type":"OL Connect Server","z":"","host":"localhost","port":"9340","name":""},{"id":"843c82f.07b52","type":"http in","z":"3711bb93.c80764","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["81ffe263.de14d8"]]},{"id":"9d3fd1b4.65347","type":"http response","z":"3711bb93.c80764","name":"","statusCode":"","headers":{},"x":560,"y":200,"wires":[]},{"id":"81ffe263.de14d8","type":"olcnr-preview-pdf","z":"3711bb93.c80764","connect_server":"46b71351.a74a6c","template":"hello.OL-template","name":"","x":340,"y":200,"wires":[["9d3fd1b4.65347"]]},{"id":"82b46d0b.5618f","type":"inject","z":"3711bb93.c80764","name":"","props":[{"p":"filename","v":"C:\\Users\\vandenhe\\.node-red\\projects\\ol-connect-for-harry\\workspace\\resources\\hello.OL-template","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":140,"y":100,"wires":[["e11eb75b.1d8958"]]},{"id":"e11eb75b.1d8958","type":"olcnr-file-upload","z":"3711bb93.c80764","connect_server":"46b71351.a74a6c","filename":"","markAsPermanent":true,"name":"","x":320,"y":100,"wires":[["17910e37.607eea"]]},{"id":"17910e37.607eea","type":"debug","z":"3711bb93.c80764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]}]