flow-4-harry.json
[{"id":"3711bb93.c80764","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"46b71351.a74a6c","type":"OL Connect Server","z":"","host":"localhost","port":"9340","name":""},{"id":"4aa78e8.38203f","type":"inject","z":"3711bb93.c80764","name":"Bar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["c577efe2.d71d48"]]},{"id":"c577efe2.d71d48","type":"debug","z":"3711bb93.c80764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":340,"wires":[]},{"id":"94604186.1b0988","type":"inject","z":"3711bb93.c80764","name":"Foo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["c577efe2.d71d48"]]},{"id":"843c82f.07b52","type":"http in","z":"3711bb93.c80764","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":180,"wires":[["81ffe263.de14d8"]]},{"id":"9d3fd1b4.65347","type":"http response","z":"3711bb93.c80764","name":"","statusCode":"","headers":{},"x":550,"y":180,"wires":[]},{"id":"81ffe263.de14d8","type":"olcnr-preview-pdf","z":"3711bb93.c80764","connect_server":"46b71351.a74a6c","template":"hello.OL-template","name":"","x":380,"y":180,"wires":[["9d3fd1b4.65347"]]}]