flow-4-harry.json
[{"id":"3711bb93.c80764","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4aa78e8.38203f","type":"inject","z":"3711bb93.c80764","name":"Bar","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":200,"wires":[["c577efe2.d71d48"]]},{"id":"c577efe2.d71d48","type":"debug","z":"3711bb93.c80764","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":360,"wires":[]},{"id":"94604186.1b0988","type":"inject","z":"3711bb93.c80764","name":"Foo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":480,"wires":[["c577efe2.d71d48"]]}]